html {
    background-color: #092631;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

header {
    margin: auto;
}


h1 {
    font-size: 2rem;
    margin: auto;
    text-align: center;
}

footer {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin: auto;
    text-align: center;
    height: 3vh;
    line-height: 3vh;
    color: #ebebeb;
}

footer a {
    color: #ebebeb;
    text-decoration: none;
}

footer a:hover {
    color: #b6b6b6;
    text-decoration: underline;
}