*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    width: 100%;
    position: relative;
    background: #181818;
    font-family: 'roboto', sans-serif;
}

#SearchResults {
    margin: auto;
    color:white;
}

#SearchResults img{
    margin: auto;
}



.main{
    position: relative;
    margin-top: 60px;
    width: 100%;
    padding: 40px 2.5vw;
    color: #fff;
}

