html {
  background-color: rgb(19, 44, 100);
}

body {
}

h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 5px 5px 5px #000000;
    margin: auto;
    text-align: center;
    padding: 25px;
}
h2 {
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px 5px #000000;
    margin: auto;
    text-align: center;
    padding: 25px;
    padding-bottom: 25vh;
}

#keyContainer {
    padding-top: 20px;
    background-color: rgb(30, 70, 156);
    display: flex;
    line-height: 25vh;
}

#keyBoard {
    padding-bottom: 20px;
    background-color: rgb(30, 70, 156);
    display: flex;;
}

#keyBoard div {
    text-align: center;
    flex: auto;
    color: white;
}

input {
    flex: auto;
    height: 5vh;
    margin: 5px;
    background-color: coral;
    border: orangered solid 2px;
}

input:active {
    background-color: orangered;
    font-size: 2rem;
    
}

input:focus {
    outline: none;
    box-shadow: none;
}

.pressed {
    background-color: orangered;
    font-size: 2rem;
}
