* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}
body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
}

header {
    background-color:#418cf4;
    text-align: center;
    padding: .5rem;
    color: black;
}

header > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
}

.headertext {
    display: inline-block;
    vertical-align: middle;
}

.headertext h1 {
    font-size: 3rem;
}

.subheading {
    font-size: 1.1rem;
    color: #000000;
}

.currentconditions {
    display: inline-block;
    vertical-align: middle;
    border: 1pt solid #42bff4;
    padding: 10px;
    
}

.ccimg {
    display: inline-block;
    vertical-align: middle;
}

.ccimg img {
    width: 100px;
    height: auto;
    display: inline-block;
}


.cctext {
    display: inline-block;
    color: white;
}