* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}
body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
}

header {
    background-color:#418cf4;
    text-align: center;
    padding: .5rem;
    color: black;
}

header > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
}

.headertext {
    display: inline-block;
    vertical-align: middle;
}

.headertext h1 {
    font-size: 3rem;
}

.subheading {
    font-size: 1.1rem;
    color: #000000;
}

.currentconditions {
    display: inline-block;
    vertical-align: middle;
    background-color: #4e98ff;
    border: 1pt solid #1d93c5;
    padding: 5px;
    margin-left: 10px;
}

.ccimg {
    display: inline-block;
    vertical-align: middle;
}

.ccimg img {
    width: 100px;
    height: auto;
    display: inline-block;
}


.cctext {
    display: inline-block;
    color: white;
    padding-right: 5px;
}

nav {
    background-color: #1f6fdf;
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: grey;
}

footer a {
    color: black;
}

footer a:hover {
    color: white;
}