/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  body {
    width: 1000px;
    margin: 0 auto;
    background: grey;
  }
  
  
  h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* header styles */
  
  h1 {
    font-size: 4rem;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    background: #418cf4;
  }
  
  header p {
    font-size: 1.3rem;
    padding: 20px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    background: #5398f8;
  }
  
  /* section styles */
  
  section article {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    width: 33.3%;
    display: inline-block;
  }
  
  section p {
    margin: 5px 0;
  }
  
  section ul {
    margin-top: 0;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }


  footer {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: inherit;
    margin: auto;
    padding: 20px;
    background: #418cf4;
}


footer div {
    display: inline-block;
}

footer a {
    color: white;
}

footer a:hover {
    color: grey;
}