html {
    background-color: cornflowerblue;
}


.wrapper {
    text-align: center;
    padding: 10px;
    background-color: lightslategray;
    max-width: 1400px;
    margin: auto;
}

table {
    margin: auto;
    font-size: 56px;
    border: 5px solid black;
    border-collapse: collapse;
    
}

main {
    padding-bottom: 60px;
}

table th, td {
    border: 5px solid black;
}

th, td {
    user-select: none;
    overflow: hidden;
    height: 100px;
    min-width: 250px;
}

td:hover {
    cursor: pointer;
    box-shadow: 5px 10px 18px black;
}


.resetBt {
    text-align: right;
    font-size: 12px;
    position: relative;
    right: 10px;
}

.resetBt:hover {
    color: white;
}

footer {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 50px;
}

