@media only screen and (min-width: 64em) {

    .sidenav {
        display: none;
    }

    #menuicon {
        display: none;
    }

    header {
        margin: auto;
        max-width: 70vw;
    }

    #share-wrapper {
        visibility: visible;
    }

    .logo {
        position: absolute;
        right: 16%;
        top: 15px;
    }
    
    .logo img {
        width: 100px;
        height: auto;
    }
    
    .title {
        margin-left: 0vh;
        font-size: 4vh;
    }

    nav {
        margin: auto;
        max-width: 70vw;
        display: flex;
    }

    .wrapper {
        height: 82vh;
        width: 70vw;
        margin: auto;
    }

    .container {
        display: flex;
        width: 58vw;
    }

    .content {
        width: 70%;
        padding: 10px;
        float: left;
    }
    
    .container img {
        width: 30%;
        height: 30%;
    }

    .wrapper .temples {
        color: white;
        position: absolute;
        right: 2%;
        top: 15%;
        background: #424242;
        height: 74vh;
        visibility: visible;
        padding: 20px;
        border-radius: 10px;
    }


    .temples h2 {
        font-size: 22px;
    }

    .temples p {
        font-size: 22px;
    }

    .temples aside ul li {
        font-size: 22px;
    }

    fieldset {
        font-size: 26px;
    }

    nav a {
        display: inline;
    }

    footer {
        margin: auto;
        width: 70vw;
    }
}