@media only screen and (min-width: 760px) {
  .hero {
    display: block;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav a {
    flex: 1 1 auto;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sections {
    border-right: 5px solid #27445f;
  }

  .sections:last-child {
    border-right: 0;
  }
}
