@media only screen and (min-width: 1000px) {

    body{
        width: 75vw;
        height: 92vh;
        margin-top: 3vh;
    }
    
    header, main, nav {
        padding: .5rem;
    }

    main img {
        width: 74vw;
    }

    .imgwrapper {
        height: 77vh;
    }

    footer {
        width: 75vw;
        height: 3vh;
    }

}