* { margin: 0; box-sizing: border-box; }

html {
    background: white;
    width: 100vw;
    height: 100vh;
}

body { 
    background: rgb(165, 164, 164);
    font-size: 16px; 
    width: 95vw;
    height: 92vh;
    color: black;
    margin: auto;
    margin-top: 1vh;
    box-shadow: 10px 10px 30px #252525;
}

h1 {
    background: rgb(165, 164, 164);
    padding: 10px;
    margin: 0;
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
    background: rgb(187, 187, 187);
    padding: 10px;
    margin: 0;
}

h2 a {
    padding-right: .3rem;
    text-decoration: none;
    color: black;
    border-right: 1px solid black;
}

h2 a:hover {
    color: blue;
}
main {
    padding: 10px;
}


main {
    margin-bottom: o;
    padding-bottom: 0;
    overflow: hidden;
}

main img {
    width: 94vw;
}

.imgwrapper {
    height: 67vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

header, footer, footer a {
    padding: 0;
    color: black;
    text-decoration: none;
}

ul li {
    padding: .3rem;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: blue
}

footer {
    overflow: hidden;
    text-align: center;
    width: 95vw;
    height: 5vh;
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
}
