::-webkit-scrollbar {
  display: none;
}

:root {
    --bgcolor: rgb(7, 46, 78);
    --bdcolor: #8b8b8b;
    --fgcolor: rgb(163, 163, 163);
    --footercolor: white;
}

html {
  background: var(--bgcolor);
  height: 100%;
}

canvas {
  border: 1px solid #8b8b8b;
  background-color: #cfcfcf;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ThemeToggle {
    margin-right: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(163, 163, 163);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(7, 46, 78);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(255, 255, 255);
}



input:checked + .slider:before {
  background-color: cornflowerblue;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

body {
  width: 100%;
  background: var(--bdcolor); 
  font-size: 16px;
  color: black;
  margin: auto;
  margin-top: 0;
  margin-bottom: 10px;
  box-shadow: 10px 10px 30px #252525;
}

h1 {
  color: var(--bgcolor);
  padding: 10px;
  margin: 0;
  font-size: 2.5rem;
}

h1 a {
  border-radius: 5px;
  color: rgb(7, 46, 78);
  padding: 10px;
  text-decoration: none;
  margin: 0;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.2rem;
  background: var(--fgcolor);
  padding: 10px;
  margin: 0;
}

h2 a {
  padding-right: 0.3rem;
  text-decoration: none;
  color: black;
  border-right: 1px solid black;
}

h2 a:last-child {
  border-right: none;
}

h2 a:hover {
  color: rgb(7, 46, 78);
}

main {
  padding: 10px;
  height: 95%;
  margin-bottom: o;
  padding-bottom: 0;
  overflow: hidden;
}

.imgwrapper img {
  width: 92%;
}

.imgwrapper {
  text-align: center;
  padding: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 30px 1px;
  align-items: center;
}

.gamewrapper img {
  width: 92%;
}

.gamewrapper {
  text-align: center;
  padding: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 30px 1px;
  align-items: center;
}

.gamewrapper a img:hover {
  box-shadow: 10px 10px 30px #252525;
}

#gamesL {
  color: rgb(7, 46, 78);
  padding: 10px;
  margin: 0;
  font-size: 2.5rem;
  text-decoration: none;
}

#gamesL:hover {
  color: black;
}

header,
footer,
footer a {
  padding: 0;
  color: black;
  text-decoration: none;
}

ul li {
  padding: 0.3rem;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: var(--bgcolor);
}

footer {
  color: var(--footercolor);
  padding: 10px;
  display: none;
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
}

footer a {
  color: var(--footercolor);
}

footer a:hover {
  color: black;
}

