* { margin: 0; box-sizing: border-box; }

html {
    background-image: linear-gradient(to bottom right, rgb(0, 175, 175), rgb(0, 70, 71));
    width: 100vw;
    height: 100vh;
}

body { 
    background: whitesmoke;
    font-size: 16px; 
    width: 70vw;
    height: 90vh;
    color: black;
    margin: auto;
    margin-top: 3vh;
    box-shadow: 10px 10px 30px #383838;
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    border-bottom: 1px solid black;
}

h2 {
    font-size: 1.2rem;
    border-bottom: 1px solid black;
}

h2 a {
    padding-right: .3rem;
    text-decoration: none;
    color: black;
    border-right: 1px solid black;
}

h2 a:hover {
    color: blue;
}

header, main, nav {
    padding: .5rem;
}


header, footer, footer a {
    color: black;
    text-decoration: none;
}

ul li {
    padding: .3rem;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: blue
}

footer {
    text-align: center;
    width: 70vw;
    height: 3vh;
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
}
