html {
    background-color: #275f5f;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/*Header*/

header {
    margin: 0;
    width: 100vw;
}


h1 {
    background-color: #1b3247;
    font-size: 4rem;
    margin: auto;
    text-align: center;
    color: #ebebeb;
    text-shadow: black 3px 3px 5px;
}


nav {
    background-color: #27445f;
    height: 4vh;
    line-height: 4.15vh;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #ebebeb;
    font-size: 1.5rem;
    border-right: #ebebeb 1px solid;
    padding: 0 15px 0 15px;
}

#active {
    color: #a7a7a7;
}

nav a:last-child {
    border-right: none;
}

nav a:hover {
    color: #885d35;
    text-decoration: underline;
}

.hero {
    display: none;
    padding: 0;
    margin: 0;
}

.hero img {
    width: 100%;
}

/*Main*/

main {
    display: grid;
    grid-template: auto;
    margin: 0;
    width: 100vw;
}

.sections {
    margin: 0;
    text-align: center;
    border-right: none;
}

.sections:last-child {
    border-right: none;
    padding-bottom: 50px;
}

#protrait {
    height: 400px;
}

main div h2 {
    color: #ebebeb;
    font-size: 2rem;
    text-shadow: black 3px 3px 5px;
}

.about {
    color: #ebebeb;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
}

.gallery {
    margin: 0;
    padding: 0;
}

#leftBt {
    position: absolute;
    left: 0;
    top: 35%;
}

#rightBt {
    position: absolute;
    right: 0;
    top: 35%;
}

.galleryBt {
    font-size: 2rem;
    height: 500px;
    width: 50px;
    border: none;
    color: #ebebeb;
    background-color: rgba(0, 0, 0, 0.5);
}

.galleryBt:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.75);
}

#fullImg {
    text-align: center;
}

#fullImg img{
    object-fit: cover;
    height: 85vh;
    width: 100vw;
}

#imgDes {
    position: absolute;
    text-align: center;
    width: 100vw;
    padding: 0;
    margin: 0;
    top: 140px;
    color: white;
    text-shadow: black 2px 2px 5px;
    font-size: 2rem;
}

#fullImg p {
    color: #ebebeb;
    font-size: 1.5rem;
}

.hiddenImgs {
    display: none;
}

.list a{
    display: block;
    text-decoration: none;
    color: #ebebeb;
    padding: 5px;
}

.list a:hover {
    color: #885d35;
    text-decoration: underline;
}



/*Footer*/

footer {
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin: auto;
    text-align: center;
    height: 3vh;
    line-height: 3.15vh;
    color: #ebebeb;
    background-color: #27445f;
}

footer a {
    color: #ebebeb;
    text-decoration: none;
}

footer a:hover {
    color: #885d35;
    text-decoration: underline;
}