html {
    background-color: #282828;
}

*{
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

#title {
    height: 100px;
    line-height: 100px;
    padding-left: 1vw;
    font-size: 3rem;
    color:#71816D;
    font-style: italic;
    background-color: #342A21;
}

#hero {
    width: 100%;
    border-radius: 5px;
}

#smallHover {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 40px;
    height: 100px;
    line-height: 100px;
    z-index: 9;
    background-color: #C9B79C;
    border: none;
}

nav {
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #C9B79C;
}

.navBtn {
    border-radius: 5px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #F1E0C5;
    margin: 1rem;
    text-decoration: none;
    color: #71816D;
}

.navBtn:hover {
    background-color: #342A21;
    border: #71816D solid 2px;
}

#activeNavBtn {
    background-color: #3c3c3c;
}

#activeNavBtn:hover {
    background-color: #342A21;
}

#Wrapper {
    margin: 20px;
}

#Wrapper p {
    color: #F1E0C5;
    font-size: 1.5rem;
    margin: 10px;
}

#PortraitImage {
    margin: 20px;
    width: 15vh;
    border-radius: 100%;
}

#flexWrapper {
    background-color: #191919;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#flexGroup {
    display: flex;
    flex-direction: column;
}

h2 {
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    background-color:#71816D ;
}

#gameWrapper {
    background-color: #191919;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    margin: auto;
}

#gameImg{
    border-radius: 5px;
    width: 400px;
    height: 225px;
}

#gameWrapper iframe {
    border-radius: 5px;
    margin: 10px;
    width: 400px;
    height: 225px;
}

#dImg {
    border-radius: 5px;
    margin: 10px;
    width: 400px;
    height: 225px;
}

#gameWrapper a{
    text-decoration: none;
    padding: 0;
    margin: 10px;
}

#gameWrapper a:hover{
    border-bottom: #F1E0C5 solid 5px;
    margin-bottom: 5px;
}

main {
    position: fixed;
    left: 250px;
    right: 0;
    top: 100px;
    bottom: 100px;
    overflow: auto;
}

.btn {
    border-radius: 5px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 500px;
    background-color: #C9B79C;
    text-decoration: none;
    color: #71816D;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
}

.btn:hover {
    background-color: #F1E0C5;
    border: #71816D solid 2px;
}

#largeImgWrapper {
    padding: 1vh;
    background-color: #191919;
    width: 100%;
}

#imgWrapper {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

#imgDesc {
    color: #F1E0C5;
}

#fImg {
    border-radius: 5px;
    width: 50%;
}

#gImg{
    border-radius: 5px;
    width: 150px;
    margin: 10px;
}

#gImg:hover {
    border-bottom: #C9B79C solid 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color:#342A21;
    color: #71816D;
    margin: auto;
    margin-top: 1vh;
}

footer span {
    color: #71816D;
}

footer a {
    text-decoration: none;
    color: #71816D;
}

footer a:hover {
    text-decoration: underline;
    color:#C9B79C;
}

@media only screen and (max-width: 750px) {

    #title {
        padding-left: 50px;
        font-size: 1.5rem;
    }

    #hero {
        display: none;
    }

    nav {
        display: none;
        width: 250px;
        left: 0;
        right: 0;
        z-index: 5 !important;
    }

    #smallHover {
        display: block;
    }

    #smallHover:hover {
        background-color: #F1E0C5;
    }

    #gameWrapper {
        justify-content: center;
    }

    main {
        left: 0;
        z-index: -1;
    }

    .btn {
        width: 300px;
        font-size: 1rem;
        margin: .5rem;
    }

    #largeImgWrapper {
        text-align: center;
    }

    #fImg {
        width: 100%;
    }
  }