html {
  margin: 0;
  padding: 0;
  background-color: rgb(60, 65, 70);
}

body {
  width: 65%;
  margin: auto;
  font-size: 1.5rem;
}

header,
main,
footer {
  background-color: rgb(190, 190, 190);
  color: rgb(60, 65, 70);
  padding: 5px;
  margin: 15px;
  border: 3px solid rgb(60, 65, 70);
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.65);
}

header {
  display: flex;
  flex-grow: 1;
}

h1 {
  text-align: right;
  font-size: 3rem;
  padding: 0px;
  margin: auto;
  margin-right: 2px;
}

h2 {
  padding: 0;
  margin: 5px;
}

nav {
  display: flex;
  min-width: 40vw;
}

nav a {
  background-color: rgb(180, 180, 180);
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 50px;
  color: rgb(60, 65, 70);
  padding: 2px;
  margin: 0px 5px 0px 0px;
  flex-grow: 1;
  max-width: 100px;
  text-align: center;
  border: 1px solid rgb(60, 65, 70);
}

#activeNavBtn {
  background-color: rgb(160, 160, 160);
}

nav a:hover {
  color: rgb(180, 75, 15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65) inset;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  background-color: rgb(180, 180, 180);
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 50px;
  color: rgb(60, 65, 70);
  padding: 2px;
  margin: 0px 5px 0px 0px;
  flex-grow: 1;
  max-width: 350px;
  text-align: center;
  border: 1px solid rgb(60, 65, 70);
}

.btn:hover {
  color: rgb(180, 75, 15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65) inset;
}

@font-face {
  font-family: OLFont;
  src: url("../files/Outlaws-Regular.woff");
}

#OLBtn {
  font-family: OLFont;
}

main {
  padding: 20px;
}

iframe {
  flex-grow: 1;
  padding: 5px;
  min-width: 200px;
  max-width: 300px;
}

#FlexContainer {
  display: flex;
  flex-wrap: wrap;
}

#dImg {
  flex-grow: 1;
  padding: 5px;
  min-width: 200px;
  max-width: 300px;
}

#gameWrapper {
  display: flex;
  flex-wrap: wrap;
}

#gameWrapper a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(60, 65, 70);
  margin: 10px;
  flex-grow: 1;
  max-width: 275px;
  text-align: center;
}

#gameWrapper a img {
  padding: 0;
  margin: 0;
  width: 275px;
  height: 175px;
  border: 4px solid rgb(60, 65, 70);
}

#largeImgWrapper {
  text-align: center;
  background-color: rgb(160, 160, 160);
  margin: 5px;
}

#largeImgWrapper img {
  margin: 5px;
  max-width: 30vw;
}

#imgwrapper {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

#imgwrapper img {
  flex-grow: 1;
  margin-right: 5px;
  min-width: 100px;
  max-width: 200px;
  border: 4px solid rgb(60, 65, 70);
}

#imgwrapper img:hover {
  border: 4px solid rgb(180, 75, 15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65) inset;
  cursor: pointer;
}

#gameWrapper a img:hover {
  border: 4px solid rgb(180, 75, 15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65) inset;
}

#PortraitImage {
  border-radius: 10px;
  max-width: 200px;
}

footer {
  padding: 10px;
  text-align: center;
  color: rgb(60, 65, 70);
}

@media only screen and (max-width: 1200px) {
  body {
    width: 99.9%;
  }
  nav {
    min-width: 90vw;
  }
  nav a {
    font-size: 2vw;
    flex-grow: 1;
  }
  h1 {
    display: none;
  }
}
