html {
  margin: 0;
  padding: 0;
  background-color: rgb(5, 5, 5);
  font-family: "Monaco", monospace;
}

body {
  font-size: 1.2rem;
}

header,
main,
footer {
  position: absolute;
  background-color: rgb(55, 65, 70);
  color: rgb(192, 210, 168);
  border-radius: 2px;
  border: 1px solid rgb(100, 82, 70);
  box-shadow: 0 0 10px black;
}

header {
  display: block;
  top: 1vh;
  left: 10%;
  right: 10%;
  height: 5vh;
  display: flex;
}

.hMenu {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: rgb(110, 65, 25);
  color: rgb(192, 210, 168);
  text-align: center;
  right: 5%;
  top: 0.5%;
  font-size: 1.5em;
  border-radius: 2px;
  border: 1px solid rgb(100, 82, 70);
  width: 35px;
  height: 35px;
  padding: 0;
  line-height: 34px;
}

.hMenu:hover {
  background-color: rgb(215, 120, 35);
  cursor: pointer;
}

h1 {
  text-align: right;
  font-size: 2rem;
  padding: 0px;
  margin: auto;
  margin-right: 5px;
}

h2 {
  font-size: 1.25rem;
  padding: 0 0 5px 0;
  margin: 5px;
  border-bottom: 1px solid rgb(100, 82, 70);
}

#navb {
  position: absolute;
  display: none;
  background: rgb(55, 65, 70);
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  width: 50%;
  z-index: 1;
  border-radius: 2px;
  border-left: 1px solid rgb(100, 82, 70);
  border-bottom: 1px solid rgb(100, 82, 70);
  border-top: 1px solid rgb(100, 82, 70);
}

#navb a {
  text-decoration: none;
  color: rgb(200, 200, 150);
  padding: 5px;
  margin: 5px;
  font-size: 1.5rem;
  border-radius: 2px;
  width: 120px;
  text-align: center;
  border: 1px solid rgb(100, 82, 70);
}

.navBtn {
  background-color: rgb(75, 85, 80);
  color: rgb(200, 200, 150);
}

.navBtn:hover {
  background-color: rgb(60, 70, 65);
  box-shadow: inset 0 0 15px black;
}

nav {
  display: flex;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 4vh;
  flex-grow: 1;
  padding: 5px;
  min-width: 30%;
  text-align: center;
  border-radius: 2px;
  border-right: 1px solid rgb(100, 82, 70);
}

#activeNavBtn {
  background-color: rgb(50, 55, 60);
}

#activeNavBtn:hover {
  background-color: rgb(40, 45, 50);
}

nav a:hover {
  background-color: rgb(40, 45, 50);
}

#container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 90%;
}

.btn {
  background-color: rgb(75, 85, 80);
  font-size: .85em;
  text-decoration: none;
  line-height: 40px;
  color: rgb(200, 200, 150);
  margin: 10px 10px 0px 0px;
  flex-grow: 0;
  width: 325px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgb(100, 82, 70);
  box-shadow: 0 0 10px black;
}

.btn:hover {
  font-size: .8em;
  background-color: rgb(60, 70, 65);
  box-shadow: inset 0 0 15px black;
  border: 1px solid rgb(42, 42, 42);
}

@font-face {
  font-family: OLFont;
  src: url("../files/Outlaws-Regular.woff");
}

#OLBtn {
  font-family: OLFont;
}

main {
  top: 7.25vh;
  left: 10%;
  right: 10%;
  bottom: 6.5vh;
  padding: 20px;
  overflow-y: auto;
}

.Content2 p {
  padding: 0 10px;
}

.Content1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

#MainContainer p {
  padding: 0 10px;
}

h4 {
  font-size: 1.5rem;
  text-align: right;
  padding: 5px;
  margin: 5px;
}

#SideContainer {
  background-color: rgb(114, 96, 74);
  margin: auto;
  width: 100%;
  height: 100%;
}

iframe {
  display: block;
  flex-grow: 1;
  margin: 5px;
  min-width: 200px;
  max-width: 300px;
  max-height: 175px;
  min-height: 165px;
  border-radius: 2px;
  border: 1px solid rgb(100, 82, 70);
}

iframe:hover {
  filter: sepia(50%) saturate(200%) brightness(50%);
  box-shadow: inset 0 0 2px black;
}

#FlexContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

#dImg {
  flex-grow: 1;
  margin: 5px;
  min-width: 200px;
  max-width: 300px;
  border-radius: 2px;
  border: 1px solid rgb(100, 82, 70);
}

#dImg:hover {
  filter: sepia(50%) saturate(200%) brightness(50%);
  box-shadow: inset 0 0 2px black;
  cursor: pointer;
}

#gameWrapper {
  display: flex;
  flex-wrap: wrap;
}

#gameWrapper a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(221, 221, 221);
  margin: 10px auto;
  max-width: 275px;
  text-align: center;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

#gameName {
  position: relative;
  bottom: 35px;
  pointer-events: none;
}

#gameWrapper a img {
  padding: 0;
  margin: 0;
  width: 275px;
  height: 175px;
  border: 1px solid rgb(100, 82, 70);
  border-radius: 2px;
}

#largeImgWrapper {
  text-align: center;
  border-radius: 2px;
  border-bottom: 1px solid rgb(100, 82, 70);
}

#largeImgWrapper img {
  max-width: 50vw;
  border-radius: 2px;
}

#imgwrapper {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

#imgwrapper img {
  flex-grow: 1;
  margin: 5px auto;
  min-width: 100px;
  max-width: 200px;
  border: 1px solid rgb(100, 82, 70);
  border-radius: 2px;
}

#imgwrapper img:hover {
  filter: sepia(50%) saturate(200%) brightness(50%);
  box-shadow: inset 0 0 2px black;
  cursor: pointer;
}

#gameWrapper a img:hover {
  filter: sepia(50%) saturate(200%) brightness(50%);
  box-shadow: inset 0 0 2px black;
  cursor: pointer;
}

#wrapper {
  text-align: center;
  margin: auto;
}

#PortraitImage {
  border-radius: 10px;
  max-width: 200px;
  margin: 10px;
}

#siteLink {
  color: rgb(192, 210, 168);
  text-decoration: none;
}

#siteLink:hover {
  text-decoration: underline;
}

#siteLink:active {
  color: rgb(192, 210, 168);
  text-decoration: none;
}

footer {
  bottom: 1vh;
  left: 10%;
  right: 10%;
  padding: 10px;
  height: 2vh;
  line-height: 2vh;
  text-align: center;
  color: rgb(192, 210, 168);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(60, 70, 65);
  border-radius: 2px;
  border-left: 1px solid rgb(100, 82, 70);
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 150);
  border-radius: 2px;
  box-shadow: 0 0 5px black;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 180, 135);
  cursor: grab;
  box-shadow: 0 0 0 black;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(160, 160, 115);
  cursor: grabbing;
  box-shadow: 0 0 0 black;
}

@media only screen and (max-aspect-ratio: 15/9) {
  header,
  main,
  footer {
    left: 0;
    right: 0;
  }
  .hMenu {
    display: block;
  }
  header {
    height: 5vh;
    display: none;
  }
  main {
    top: 0vh;
    bottom: 4.5vh;
  }
  nav a {
    font-size: 0.85rem;
  }
  h1 {
    display: none;
  }
  .btn {
    font-size: 0.8em;
  }
  footer {
    font-size: 0.8em;
    bottom: 0;
  }
}

@media only screen and (min-aspect-ratio: 20/9) {
  header {
    height: 7vh;
  }
  main {
    top: 9vh;
    bottom: 6.5vh;
  }
  nav a {
    line-height: 7vh;
  }
}
