html {
    background-color: #2b4d74;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    width: 75%;
    margin: auto;
    height: 100vh;
}


h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    height: 30px;
    color: #e25615;
    margin: auto;
}

nav {
    height: 45px;
    font-size: 1.25rem;
    background-color: #c78f46;
    color: #000000;
}

.navItem {
    height: 21px;
    line-height: 21px;
    display: inline-block;
    padding: .75rem;
}

.navItem:last-child {
    border-right: none;
}

.navItem:hover {
    background-color: #c5c5c5;
}

.navItem a {
    text-decoration: none;
    color: #000000;
}

.navItem a:hover {
    text-decoration: underline;
    color: #2b4d74;
}

.dropdown {
    height: 21px;
    line-height: 21px;
    display: inline-block;
    padding: .75rem;
    cursor: pointer;
}

.dropdown:hover {
    background-color: #c5c5c5;
}

.dropdownContainer {
    display: none;
    position: absolute;
    background-color: #c78f46;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: .75rem;
    z-index: 1;
}

.dropdownContainer a{
    display: block;
    text-decoration: none;
    padding: .25rem;
    color: #000000;
}

.dropdownContainer a:hover{
    text-decoration: underline;
    color: #2b4d74;
}

.dropdown:hover{
    text-decoration: underline;
    color: #2b4d74;
}

.dropdown:hover .dropdownContainer {
    display: block;
}

#HeroContainer img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

#PortraitImage {
    font-size: 1.25rem;
    text-align: center;
    padding: 25px;
}

#PortraitImage img {
    width: 200px;
    border-radius: 100%;
}

#PortraitImage ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#PortraitImage ul a{
    color: #000000;
}

#PortraitImage ul a:hover{
    color: #2b4d74;
}

#mainImageContainer {
    background-color: #000000;
    width: 100%;
    height: 75%;
}

#mainImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#imgTitle {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: #c78f46 2px 2px 2px;
}

.arrowBtn {
    position: absolute;
    top: 35%;
    color: #ffffff;
    font-size: 50px;
}

.arrowBtn:hover {
    cursor: pointer;
    color: #2b4d74;
}

#leftGBtn {
    left: 10px;
}

#rightGBtn {
    right: 10px;
}


main {
    position: absolute;
    top: 115px;
    bottom: 30px;
    width: 75%;
    background-color: #c5c5c5;
    color: #000000;
    margin: auto;
    bottom: 30px;
    overflow-y: auto;
}

main p {
    padding: 25px;
}

#youtubeVideo {
    padding: 25px;
}

#gameContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gameItem {
    padding: 25px;
    margin: auto;
}

.gameItem img {
    width: 350px;
}

.gameItem a:hover {
    border-bottom: #2b4d74 solid 5px;
}

#galleryContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.imgItem {
    padding: 25px;
    margin: auto;
}

.imgItem img {
    width: 150px;
}

.imgItem img:hover {
    cursor: pointer;
    border-bottom: #2b4d74 solid 5px;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 1rem;
    background-color: #c78f46;
    color: #000000;
    height: 30px;
    line-height: 30px;
    margin: auto;
    width: 75%;
}

footer a {
    text-decoration: none;
    color: #000000;
}

footer a:hover {
    text-decoration: underline;
    color: #2b4d74;
}

@media only screen and (max-width: 750px) {

    nav {
        text-align: center;
        height: 150px;
    }

    .navItem {
        display: block;
        padding: .25rem;
        border-right: none;
    }

    .dropdown {
        display: block;
        padding: .25rem;
        border-right: none;
    }

    .dropdownContainer {
        position: relative;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    }

    main {
        top: 220px;
        width: 100%;
    }

    #HeroContainer img {
        display: none;
    }

    #gameContainer {
        display: flex;
        flex-direction: column;
    }

    body {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}