html {
    background-color: #2b4d74;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

body {
    width: 75%;
    margin: auto;
}

h1 {
    padding-top: 50px;
    color: #e25615;
    margin: auto;
}

nav {
    text-align: right;
    display: flex;
    font-size: 1.5rem;
    background-color: #c78f46;
    color: #000000;
    height: 50px;
    line-height: 50px;
    margin: auto;
}

.navItem {
    padding-left: 15px;
    padding-right: 15px;
    border-right: #000000 1px solid;
}

.navItem:last-child {
    padding-right: 0;
    border-right: none;
}

.navItem a {
    text-decoration: none;
    color: #000000;
}

.navItem a:hover {
    text-decoration: underline;
    color: #2b4d74;
}

.dropdown {
    padding-left: 15px;
    padding-right: 15px;
    border-right: #000000 1px solid;
    cursor: pointer;
}

.dropdownContainer {
    display: none;
    position: absolute;
    background-color: #c78f46;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 12px;
    z-index: 1;
}

.dropdown:hover{
    text-decoration: underline;
    color: #2b4d74;
}

.dropdown:hover .dropdownContainer {
    display: block;
}

#HeroContainer img{
    width: 100%;
}

main {
    background-color: #c5c5c5;
    color: #000000;
    margin: auto;
    max-height: 80%;
    overflow-y: auto;
}

main p {
    padding: 25px;
}

footer {
    text-align: center;
    font-size: 1rem;
    background-color: #c78f46;
    color: #000000;
    height: 25px;
    line-height: 25px;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: #000000;
}

footer a:hover {
    text-decoration: underline;
    color: #2b4d74;
}

@media only screen and (max-width: 750px) {
    h1 {
        padding-top: 5px;
    }

    body {
        width: 100%;
    }
}